<%= form_for([@course,@topic,@lesson]) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :description %><br>
    <%= f.text_area :description %><br>
    <%= f.label :Teacher_References %><br>
    <%= f.text_area :teacher_references %><br>
    <%= f.label :Student_Resources %><br>
    <%= f.text_area :student_resources %><br>
    <%= f.label :Goal %><br>
    <%= f.text_area :goal %><br>
    <%= f.label :See %><br>
    <%= f.text_area :see %><br>
    <%= f.label :Do %><br>
    <%= f.text_area :do %><br>
    <%= f.label :Teach %><br>
    <%= f.text_area :teach %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>